/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ===== BASE ===== */
body{
  font-family: 'Noto Sans JP', sans-serif;
  background:#f6f4ef;
  color:#3f5f3b;
  line-height:1.8;
}

h1,h2{
  font-family: 'Cormorant Garamond', serif;
  letter-spacing:1px;
}

/* Generic buttons */
.btn{
  background:#8B1E1E;
  color:white;
  padding:12px 28px;
  border-radius:50px;
  text-decoration:none;
}

.btn:hover {
  background:#A52A2A;
}

/* hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: #333;
  margin:4px 0;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: #333;
  transition: 0.3s;
}

/* Hamburger base */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 26px;
  height: 2px;
  background: #333;
  transition: 0.4s ease;
}

/* Animate to X */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* languange */
.lang-btn{
  border:1px solid #990000;
  background:none;
  color:#990000;
  padding:6px 10px;
  cursor:pointer;
  font-size:13px;
}

.lang-btn:hover{
  background: burlywood;
}

/* NAV */
nav a {
  position: relative;
  padding-bottom: 6px;
  color: #3a2f25;
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: #c7b299;
  transition: width .4s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a.active::after {
  width: 100%;
}

.back-home {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 14px;
  letter-spacing: .08em;
  color: #7a6a5c;
}

.back-home:hover {
  opacity: .7;
}

nav a.active {
  border-bottom: 1px solid #cbbba7;
  padding-bottom: 4px;
}

.modal {
  display: none;
}