/* ===== IMAGES ===== */
.grid-3 img,
.grid-4 img {
  width: 100%;
  border-radius: 20px;
  transition: 0.4s;
}

.grid-3 img:hover,
.grid-4 img:hover {
  transform: scale(1.05);
}

/* ===== STAFF ===== */
.staff-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.staff-wrap img {
  width: 350px;
  border-radius: 20px;
}

/* ===== BOOKING ===== */
.booking-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


/* ===== MENU & PRICING ===== */

.price-section {
  background: #f4f2ec;
  padding: 80px 20px 120px;
}

/* title */

.menu-title {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 38px;
  color: #4b5d3a;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/* hero image */

.menu-hero {
  max-width: 900px;
  margin: 0 auto 70px;
}

.menu-hero img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* wrapper */

.price-wrapper {
  max-width: 720px;
  margin: 0 auto;
}

/* category */

.price-category {
  margin-bottom: 60px;
}

.price-category h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  color: #4b5d3a;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* list */

.price-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* item */
.price-category li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-family: 'Noto Sans JP','Cormorant Garamond', sans-serif;
  font-size: 16px;
  color: #444;
}

.price-category li span:first-child {
  white-space: nowrap;
}

.price-category li {
  content: "";
  flex: 1;
  border-bottom: 1px dotted #bbb;
  margin: 0 12px;
}

.price-category li span:last-child {
  white-space: nowrap;
  font-weight: 600;
  color: #3f5f3b;
}

/* links */

.price-links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

/* hotpepper link */

.text-link {
  color: #4b5d3a;
  text-decoration: underline;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  transition: 0.3s;
}

.text-link:hover {
  opacity: 0.7;
}

/* reserve button */

.reserve-link {
  display: inline-block;
  background: #8B1E1E;
  color: white;
  padding: 14px 32px;
  border-radius: 40px;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.reserve-link:hover {
  background: #364628;
  transform: translateY(-2px);
}

.reserve-btn{
  display:inline-block;
  padding:10px 20px;
  background:#c8a97e;
  color:white;
  text-decoration:none;
  border-radius:5px;
  margin-top:10px;
  transition:0.3s;
}

.reserve-btn:hover{
  background:#a88960;
}

/* ===== STORE ===== */
.store-wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 60px;
}

.store-row {
  display: flex;
  align-items: center;
  gap: 80px;
}

.store-row.reverse {
  flex-direction: row-reverse;
}

.store-image img {
  width: 100%;
  max-width: 520px;
  border-radius: 20px;
  transition: 0.6s ease;
}

.store-image img:hover {
  transform: scale(1.03);
}

.store-links a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #222;
  border-bottom: 1px solid #222;
  padding-bottom: 3px;
  transition: 0.3s;
}

.store-links a:hover {
  opacity: 0.6;
}

.store-grandopen {
  color: #8B1E1E;
  font-size: 25px;
}

.hotpepper {
  font-weight: bold;
}

/* headingsample */
.heading {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
  font-size: 26px;
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading::before {
  content: attr(data-en);
  position: absolute;
  transform: rotate(-10deg);
  top: -30px;
  left: -30px;
  color: #FFCC00;
  font-size: 40px;
  font-weight: 600;
  font-family: "Great Vibes";
}




/* ===== GALLERY ===== */

.gallery-section {
  background: #f5f3ee;
  padding: 10px 8%;
}

.gallery-section h2 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  margin-bottom: 60px;
  color: #4b5d3a;
  padding-top: 50px;
}

.gallery-group {
  margin-bottom: 70px;
}

.gallery-group h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  margin-bottom: 25px;
  color: #333;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.gallery-grid img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* ===== STYLE INFINITE SLIDER ===== */

.gallery-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* fade edges */

.gallery-slider::before,
.gallery-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.gallery-slider::before {
  left: 0;
  background: linear-gradient(to right, #f5f3ee, transparent);
}

.gallery-slider::after {
  right: 0;
  background: linear-gradient(to left, #f5f3ee, transparent);
}

.slider-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: infiniteSlide 25s linear infinite;
}

.slider-track img {
  width: 260px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.6s ease;
}

.slider-track img:hover {
  transform: scale(1.08);
}

/* smooth infinite movement */

@keyframes infiniteSlide {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}

.gallery-slider:hover .slider-track {
  animation-play-state: paused;
}

/* product */
/* ===== Product Section ===== */

.product-section {
  background: #f4f2ec;
  padding: 10px 8% 120px;
}

.section-title {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  color: #4b5d3a;
  margin-bottom: 80px;
}

.product-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.product-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 120px;
}

.product-row.reverse {
  flex-direction: row-reverse;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  border-radius: 20px;
  display: block;
}

.product-info {
  flex: 1;
}

.product-info h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 26px;
  margin-bottom: 20px;
  color: #4b5d3a;
}

.product-desc {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

.product-price {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  color: #4b5d3a;
}

.recruit-hero {
  max-width: 900px;
  margin: 0 auto 70px;
  padding-top: 30px;
}

.recruit-hero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 6px;
}

.contact-hero {
  max-width: 900px;
  margin: 0 auto 70px;
  padding-top: 30px;
}

.contact-hero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 6px;
}

/* SALON TITLE */

.salon-title {
  background: #99CC99;
  color: #fff;
  padding: 12px 20px;
  margin: 60px auto 30px;
  max-width: 1100px;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
}


/* GRID */

.stylist-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 20px;
}


/* CARD */

.stylist-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.stylist-card img {
  width: 100%;
  display: block;
  transition: transform .6s ease;
}


/* OVERLAY */

.stylist-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .4s ease;
}

.stylist-overlay span {
  color: #fff;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 1px;
  transform: translateY(20px);
  transition: transform .4s ease;
}


/* HOVER EFFECT */

.stylist-card:hover img {
  transform: scale(1.08);
}

.stylist-card:hover .stylist-overlay {
  opacity: 1;
}

.stylist-card:hover span {
  transform: translateY(0);
}


/* stylist grid */

.stylist-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 20px;
}


/* card */

.stylist-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}


/* image */

.stylist-card img {
  width: 100%;
  display: block;
  transition: transform .6s ease;
}


/* overlay */

.stylist-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  color: white;

  opacity: 0;
  transform: translateY(30px);
  transition: all .5s ease;
}


/* text */

.stylist-info h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  margin-bottom: 5px;
}

.position {
  font-size: 14px;
  opacity: .9;
}

.exp {
  font-size: 13px;
  opacity: .8;
}

.message {
  font-size: 13px;
  margin-top: 6px;
  line-height: 1.4;
}


/* hover */

.stylist-card:hover img {
  transform: scale(1.08);
}

.stylist-card:hover .stylist-info {
  opacity: 1;
  transform: translateY(0);
}

body {

  font-family: 'Cormorant Garamond', 'Noto Sans JP',sans-serif;
  background: #f5f3ee;
  color: #2f4f3e;

}

/* PAGE */

.news-page {

  max-width: 1000px;
  margin: auto;
  padding: 80px 20px;

}

/* TITLE */

.news-title {

  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  color: #3f5f3b;

}

/* NEWS LIST */

.news-container {

  display: flex;
  flex-direction: column;
  gap: 40px;

}

/* NEWS ITEM */

.news-item {

  display: flex;
  align-items: center;
  gap: 40px;

}

/* IMAGE */

.news-img {

  width: 170px;
  height: 130px;
  object-fit: cover;
  border-radius: 20px;

}

/* TEXT */

.news-text h3 {

  font-size: 22px;
  margin: 8px 0;
  font-family: 'Cormorant Garamond', serif;


}

.news-category {

  font-size: 14px;
  color: #6c806e;

}

.news-date {

  font-size: 14px;
  color: #3f5f3b;

}

/* LINE */

hr {

  border: none;
  border-top: 1px solid #d8d8d8;
  margin-top: 20px;

}

/* FOOTER */

footer {

  background: #99CC99;
  color: #f5f3ee;
  text-align: center;
  padding: 25px;
  margin-top: 60px;

}