/* ======================
   MOBILE
====================== */

@media (max-width:768px){

  .header{
    padding:15px 20px;
  }
  
  .hero h1{
    font-size:28px;
  }
  
  .section{
    padding:80px 20px;
  }
  
  /* grids */
  .grid-3,
  .grid-4{
    grid-template-columns:1fr;
  }
  
  .stylist-grid{
    grid-template-columns:1fr;
    gap:20px;
  }
  
  /* store */
  .store-row,
  .store-row.reverse{
    flex-direction:column;
  }
  
  /* gallery */
  .gallery-section{
    padding:60px 6%;
  }
  
  .gallery-grid{
    grid-template-columns:1fr;
  }
  
  .gallery-grid img{
    height:280px;
  }
  
  /* products */
  .product-row,
  .product-row.reverse{
    flex-direction:column;
    gap:40px;
    margin-bottom:80px;
  }
  
  /* news */
  .news-item{
    flex-direction:column;
    align-items:flex-start;
  }
  
  .news-img{
    width:100%;
    height:200px;
  }
  
  /* navigation */
  
  .nav{
    position:fixed;
    top:0;
    right:-100%;
    width:70%;
    height:100vh;
    background:beige;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    transition:0.4s ease;
  }
  
  .nav.active{
    right:0;
  }
  
  /* hamburger */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

  .hamburger{
    display:flex;
  }
  
  #langToggle {
    display: flex;
  }
  .reserve{
    display:none;
  }
  
  }

  /* tablet */
  @media (min-width:769px) and (max-width:1024px){

    .grid-3{
      grid-template-columns:1fr 1fr;
    }
    
    .grid-4{
      grid-template-columns:1fr 1fr;
    }
    
    .gallery-grid{
      grid-template-columns:repeat(2,1fr);
    }
    
    .staff-wrap{
      flex-direction:column;
    }
    
    .section-title{
      font-size:30px;
    }
    
    }

    @media (min-width:768px) and (max-width:1024px) and (orientation:portrait){

      .grid-3{
        grid-template-columns:1fr 1fr;
      }
      
      .grid-4{
        grid-template-columns:1fr 1fr;
      }
      
      .hero h1{
        font-size:42px;
      }
      
      .section{
        padding:100px 40px;
      }
      
      }

      @media (min-width:768px) and (max-width:1180px) and (orientation:landscape){

        .grid-3{
          grid-template-columns:repeat(3,1fr);
        }
        
        .grid-4{
          grid-template-columns:repeat(3,1fr);
        }
        
        .hero h1{
          font-size:50px;
        }
        
        .section{
          padding:60px 60px;
        }
        
        }

        